<div class="image">
  <!-- <img src="images/smile.png"> -->
</div>

<div class="text">
  <h1> Provedor? </h1>
  <p> Qual o seu provedor, plano, preço, etc. </p>

  <hr>

  <div class="container">
    <div class="form-group row">
      <div class="col-xs-12	col-sm-12	col-md-12	col-lg-12">
        <label>
          Diga o nome do seu provedor
        </label>
        <input class="form-control" type="text" ng-required="required" ng-model="vm.userIsp.name" ng-change="vm.ispSelection('name')" placeholder="Nome do provedor" uib-typeahead="isp.name for isp in vm.isps | filter:$viewValue | limitTo:5">
      </div>
    </div>

    <div class="form-group row"  ng-if="vm.userIsp.name">
      <label class="col-xs-12 col-sm-12 col-md-12"> Velocidade de <strong>Download</strong> Contratada </label>
      <div class="col-xs-10 col-sm-6 col-md-8">
        <input class="form-control" ng-model="vm.userIsp.plan.download.value" ng-change="vm.ispSelection('download')" uib-typeahead="speed for speed in vm.speeds" placeholder="xx Mbps" ng-required="required" type="number">
      </div>
      <div class="col-xs-2 col-sm-6 col-md-4">
        <select class="" name="dowload-unit" id="dowload-unit" ng-model="vm.userIsp.plan.download.unit" ng-if="vm.userIsp.plan.download.value" ng-required="required">
          <option ng-repeat="unit in vm.speedUnits" value="{{unit}}">
            {{unit}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" ng-if="vm.userIsp.plan.download.unit">
      <label class="col-xs-12 col-sm-12 col-md-12"> Velocidade de <strong>Upload</strong> Contratada </label>
      <div class="col-xs-10 col-sm-6 col-md-8">
        <input class="form-control" ng-model="vm.userIsp.plan.upload.value" ng-change="vm.ispSelection('upload')" uib-typeahead="speed for speed in vm.speeds" placeholder="x Mbps" ng-required="required" bs-typeahead type="number">
      </div>
      <div class="col-xs-2 col-sm-6 col-md-4">
        <select class="" name="upload-unit" id="upload-unit" ng-model="vm.userIsp.plan.upload.unit" ng-if="vm.userIsp.plan.upload.value" ng-required="required">
          <option ng-repeat="unit in vm.speedUnits" value="{{unit}}">
            {{unit}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <!-- <button type="button" class="btn btn-default"  ng-click="vm.newIspModal()">
      Criar novo provedor
    </button> -->

    <button type="button" class="btn btn-default" ng-if="vm.firstStepCompleted()" ng-click="vm.nextStep()">
      Próximo
    </button>
  </div>
</div>
