<div class="container-fluid">
  <h1> Consumo</h1>
  <p> Vamos entender o seu perfil de uso da rede </p>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-xs-12	col-sm-8	col-md-10	col-lg-10">
        <label><h4>
          Quantas pessoas compartilham essa conexão?
        </h4></label>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <input class="form-control" ng-model="vm.profile.numberOfusers" placeholder="x pessoas" ng-required="required" type="number">
      </div>
    </div>


    <app-group gname="'media'" gicon="'fa-play'" gtitle="'Usa Youtube, Neflix, vímeo, etc?'" ng-click="vm.saveGroupInProfile('media')"></app-group>
    <app-group gname="'games'" gicon="'fa-gamepad'" gtitle="'Jogos?'" ng-click="vm.saveGroupInProfile('games')"></app-group>
    <app-group gname="'cloud'" gicon="'fa-cloud'" gtitle="'Núvem?'" ng-click="vm.saveGroupInProfile('cloud')"></app-group>
    <app-group gname="'work'" gicon="'fa-black-tie'" gtitle="'Precisa da internet para trabalhar?'" ng-click="vm.saveGroupInProfile('work')"></app-group>

  </div>
</div>
